<div class="panel panel-default">
    <div class="panel-danger">
        <div class="panel-heading"><b>Users List</b> &nbsp;&nbsp;&nbsp;<a type="button" ng-click="createListModal()"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
    </div>
        <ul class="list-group">
            <li class="list-group-item" ng-if="listsOfSpecificUser.length === 0">No items in the list yet!</li>
            <li class="list-group-item" ng-repeat="item in listsOfSpecificUser">
                <a ui-sref="selectedList({id:item.id})" ng-click="setSelectedList(item)" ng-class="{active : isSelected(item)}">{{item.name}}</a>
                    <div class="pull-right">
                        <a ng-click="setSelectedList(item); updateListModal()" ng-class="{active : isSelected(item)}"><span class="glyphicon glyphicon-pencil edit"></span></a>
                        <a ng-click="deleteList(item)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
            </li>
        </ul>
</div>

