<div class="row">
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="text-center">Login</h5>
                <form name="loginForm" class="form form-signup" role="form" novalidate ng-submit="loginForm.$valid && login()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input name="email" id="loginEmail" type="email" class="form-control" placeholder="Email Address" ng-model="user.email" required/>
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.email.$error.required">Username is required</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input name="password" type="password" class="form-control" placeholder="Password" id="loginPassword" ng-model="user.password" required/>
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.password.$error.required">Password is required</span>

                    </div>
                    <input id="btnLogin" class="btn btn-sm btn-primary btn-block" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

</div>