<div class="panel panel-default">
    <div class="panel-danger">
        <div class="panel-heading"><b>Users Tasks</b> &nbsp;&nbsp;&nbsp;<a type="button" ng-click="createTaskModal()"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
        </div>
    <h5 ng-if="resultUnfinished.length=== 0"><b>There is no Unfinished Task</b></h5>
    <h5 ng-if="resultUnfinished.length > 0"><b>Unfinished Task</b></h5>
    <div class="container-fluid">
    <ul class="list-group">
            <li ng-repeat="task in tasksOfSpecificList | filter:{state:false} as resultUnfinished" class="list-group-item" ng-class="{active : isSelected(task)}">
                <input type="checkbox" ng-model="task.state" ng-checked="{{task.state}}" ng-change="isChecked(task)"/> {{task.body}}   <div class="pull-right"><a ng-click="setClicked(task); updateTaskModal(task)" ng-class="{active : isSelected(task)}" type="button"><span class="glyphicon glyphicon-pencil edit"></span></a><a ng-click="setClicked(task); deleteTask()" type="button"><span class="glyphicon glyphicon-remove"></span></a></div>
            </li>
        </ul>
    </div>
    <h5 ng-if="resultFinished.length=== 0"><b>There is no Finished Task</b></h5>
    <h5 ng-if="resultFinished.length > 0"><b>Finished Task</b></h5>
    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="task in tasksOfSpecificList | filter:{state:true} as resultFinished" class="list-group-item" ng-class="{active : isSelected(task)}">
                <input ng-model="task.state" type="checkbox" ng-checked="{{task.state}}" ng-change="isChecked(task)"/>  {{task.body}}   <div class="pull-right"></a> <a ng-click="setClicked(task); updateTaskModal(task)" ng-class="{active : isSelected(task)}" type="button"><span class="glyphicon glyphicon-pencil edit"></span></a><a ng-click="setClicked(task); deleteTask()" type="button"><span class="glyphicon glyphicon-remove"></div>
            </li>
        </ul>
    </div>
</div>

