<section>
    <div class="container-fluid" >
        <div class="modal-header">
            <h3 class="text-center">Update Task</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <textarea class="form-control" type="text" rows="5" cols="20" ng-model="task.body" required></textarea>
                </div>
                <div class="form-group">
                    <label >List</label>
                    <select ng-model="listDrop" ng-options="listDrop.id as listDrop.name for listDrop in listForDropDown" class="form-control">

                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success pull-right" ng-click="updateTask()">Update</button>
        </div>

    </div>
</section>