<section>
    <div class="container-fluid">
        <div class="modal-header">
            <h3 class="text-center">Update List</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="list.name"/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-succes" ng-click="updateList()">Update</button>
        </div>
    </div>
</section>