<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="text-center">Registration</h5>
            <form name="userDetails"   id="registerAsOwner"  class="form"  role="form" novalidate ng-submit="userDetails.$valid && registerUser()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="name" class="form-control" placeholder="Name" ng-model="user.name"/>
                    </div>
                    <span class="error" id="validationName"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
                        <input name="email" type="text"  class="form-control" placeholder="E-mail Address" ng-model="user.email" required/>
                    </div>
                    <span class="error" id="validationEmail" ng-show="userDetails.$submitted && userDetails.email.$error.required">Email is required</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input name="password"  type="password" class="form-control" placeholder="Password" ng-model="user.password" required/>
                    </div>
                    <span ng-show="userDetails.$submitted && userDetails.password.$error.required">Password is required</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input name="pass_conf" type="password" class="form-control" placeholder="Password Confirmation" ng-model="user.password_confirmation" required/>
                    </div>
                    <span ng-show="userDetails.$submitted && userDetails.pass_conf.$error.required">Password confirmation is required</span>
                    <span ng-if="user.password != user.password_confirmation">Password and password confirmation dont match</span>

                </div>
                <input id="btnRegister" class="btn btn-lg btn-primary btn-block" type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>